body {
  margin: 0 auto;
}

ul {
  list-style: none;
}

.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.gallery-link {
  text-decoration: none;
  cursor: url(../svg/cursor.svg), pointer;
}

.gallery-item {
  width: calc((100% - 24px * 3) / 3);
}

.gallery-image {
  width: 100%;
  height: auto;
  transition: 0.7s;
}

.gallery-image:hover {
  transform: scale(1.03);
}
